<% content_for :head do %>
  <title>Telepath Outstanding Work</title>
  <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['controls']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawDashboard);

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      
      function drawDashboard() {
      
      // Prepare the data
  			var data = google.visualization.arrayToDataTable([
  				['Department', 'Number Outstanding'],
   				<% @outstanding.each do |statistic| %>
        			<%if !statistic[0].nil? %>
          			<%
          				case statistic[0]
          					when "C" %>
          						['Chemistry',<%= statistic[1] %>], 
          				<% when "B" %>
          						['Blood Bank',<%= statistic[1] %>],
          				<% when "H" %>
          						['Haematology',<%= statistic[1] %>],
        				<% end %>
        			<% end %> 
        		<% end %>
        		]);﻿ 
  
    // Create a dashboard
		var dashboard = new google.visualization.Dashboard(
          document.getElementById('dashboard_div'));


// Create a pie chart, passing some options
        var pieChart = new google.visualization.ChartWrapper({
          'chartType': 'PieChart',
          'containerId': 'chart_div',
          'options': {
            'width': 350,
            'height': 350,
            'pieSliceText': 'value',
            'legend': 'right'
          }
        });

 // Create a range slider, passing some options
        var donutRangeSlider = new google.visualization.ControlWrapper({
          'controlType': 'NumberRangeFilter',
          'containerId': 'filter_div',
          'options': {
            'filterColumnLabel': 'Number Outstanding'
          }
        });

// Create results table
 		var table = new google.visualization.ChartWrapper({
    		'chartType': 'Table',
    		'containerId': 'table_div',
    		'options': {
      		'width': '300px'
    		}
  		});

// Draw the dashboard.
		//bind([slider, categoryPicker], [pie, table])
		dashboard.bind(donutRangeSlider, table);
		dashboard.bind(donutRangeSlider, pieChart);
        dashboard.draw(data);
}

    </script>
<% end %>


<div class="container">
	<div id="dashboard_div">
		<!-- Main Layout -->	
			<div class="one-third column">
				<h3>Listing Oustanding Work For Directorate</h3>
				<p>Number Outstanding:  <%= @outs %></p>
			</div>
			
			<div class="one-third column">
				<h3>Listing Oustanding Work By Discipline</h3>
				<div id="chart_div"></div>
			</div>
			
			<div class="one-third column">
				<h3>Filter Data</h3>
				<p></p>
				<div id="filter_div"></div></br>
				<div id="table_div"></div>
			</div>	
		<!-- /Main Layout -->
	</div>
</div>










