<h1>Listing Oustanding Work</h1>
 
<table>
  <tr>
    <th>Discipline</th>
    <th>Patient_Row_ID</th>
    <th>Registration Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @outstanding.each do |outstanding| %>
  <tr>
    <td><%= outstanding.Discipline %></td>
    <td><%= outstanding.Patient_Row_ID %></td>
    <td><%= outstanding.Registration_Number %></td>
  </tr>
<% end %>
</table>
 
<br />
